body,html{
  background-color:lightcoral
  
}
#h{
    text-align: center;
  text-decoration:underline;
  color:black;
  font-family:monospace; }

.card{
  padding:40px;
  

}
  .card1{
  padding:40px;
  
}
.card2{
  padding:40px;
 
}
.card3{
  padding:40px;
   
}
.container {
  padding: 2px 16px;
  font-family:monospace;
}
  #d{ border:1px solid black;
     }

